#headus {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: var(--spacing-unit) calc(var(--spacing-unit) * 2);
  gap: var(--spacing-unit);

  .group {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: var(--spacing-unit);

    &:is(form) {
      flex-grow: 4;
    }
  }

  #query {
    flex-grow: 1;
  }

  h1 {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  img {
    height: 80px;
    display: block;
    flex-grow: 1;
  }
}

/* Adaptive wrap for header */
@media (max-width: 800px) {
  #headus {
    flex-direction: column-reverse;
    gap: calc(var(--spacing-unit) * 2);

    .group {
      width: 100%;
    }

    img {
      height: 50px;
    }
  }
}
