#nodus-section {

  /* View Switching Logic */
  .view {
    display: none;
  }

  #nodus-view-current:checked~#nodus-current,
  #nodus-view-many:checked~#nodus-many,
  #nodus-view-message:checked~#nodus-message {
    display: block;
  }

  /* Styles for the "Show Many" view */
  #nodus-many .node-card {
    background-color: var(--page-background);
    border: 1px solid var(--border-divider);
    border-radius: var(--border-radius);
    padding: calc(var(--spacing-unit) * 2);
    margin-bottom: calc(var(--spacing-unit) * 2);
    display: flex;
    justify-content: space-between;
    gap: calc(var(--spacing-unit) * 2);
  }

  #nodus-many .node-card-main {
    flex-grow: 1;
  }

  #nodus-many .node-card-aside {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--spacing-unit);
  }

  #nodus-many .link-counts {
    display: flex;
    gap: var(--spacing-unit);
    color: var(--secondary-text);
  }

  .linked-nodes-list-container .no-links-message,
  .linked-nodes-list-container .linked-nodes-list {
    display: none;
  }

  #linked-nodes-toggle:not(:checked)~.no-links-message,
  #linked-nodes-toggle:checked~.linked-nodes-list {
    display: block;
    /* or flex for the list */
  }

  .linked-nodes-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-unit);
    justify-content: flex-end;
  }

  .linked-node-item.selected {
    background-color: var(--interaction-primary);
    color: white;
  }
}
