  Вводные идеи для проекта

Простое приложение для представления графа знаний (навыком, микронавыков, понятий и т.д.) с возможностью добавления, удаления и редактирования узлов и связей между ними.

Граф знаний -> Знания это пользовательские идеи (узел графа) -> Идея это название + описание.
Название обязательное, описание необязательное (1 - 6 предложений).

Идеи могут быть связаны между собой (ребро графа). Если идеи связаны (имеют отношение друг к другу, решает человек), то пользователь может выразить идею этой связи добавив направленное ребро графа. С описанием или без.

Почему ребро направленное? Приложение представляет не просто набор идей, а ставит целью сформировать ассоциативные связи между ними у пользователя. То, на основе каких правил формируются эти ассоциативные связи, решает человек. Ему будут предоставлены для этого следующие возможности: выбрать узел от которого будет исходить связь, выбрать узел к которому будет направлена связь, добавить описание связи (необязательное).

Приложение должно иметь поле поиска. Пользотель может в любой момент времени изучать любую идею (узел). Чтобы моментально переместиться к нужной идее, он может воспользоваться поиском по названию узла.

Приложение может содержать дополнительные возможности, такие как:
- Если человек хочет сохранить свою базу знаний или перенести её в другое место, он может экспортировать её в файл. Экспорт должен быть в формате JSON.
- Статистика по графу знаний (количество узлов, количество связей, количество узлов или связей без описаний, узел с наибольшим количеством связей).

---

  Краткое описание ключевых сущностей приложения

Идея / Узел

- Название (обязательное, уникальное)
- Описание (необязательное, 1 - 6 предложений)
- Набор связей (ребер) к другим идеям (узлам)

Связь идей / Ребро

- Откуда (с какой идеи)
- Куда (к какой идее)
- Описание (необязательное, 1 - 6 предложений)

Поиск

- Всегда присутствует в приложении
- Поиск по названию узла

Отдельное окно, содержащее расширенные возможности

- Содержит набор возможностей
- Позволяет ими воспользоваться (как минимум, активировать)

---

  Примеры типичных кейсов использования ключевых сущностей приложения
